# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# for win32
*.sdf
*.opensdf
*.pdb
bin
Debug/
core.*
src/test/cppunit/easy_main

*.log

#libevent
dep/libevent/.deps/
dep/libevent/.libs/
dep/libevent/Makefile
dep/libevent/autom4te.cache/
dep/libevent/config.h
dep/libevent/config.status
dep/libevent/include/Makefile
dep/libevent/include/event2/event-config.h
dep/libevent/libevent.pc
dep/libevent/libevent_openssl.pc
dep/libevent/libevent_pthreads.pc
dep/libevent/libtool
dep/libevent/sample/.libs/
dep/libevent/sample/Makefile
dep/libevent/sample/dns-example
dep/libevent/sample/event-test
dep/libevent/sample/hello-world
dep/libevent/sample/http-server
dep/libevent/sample/le-proxy
dep/libevent/sample/signal-test
dep/libevent/sample/time-test
dep/libevent/stamp-h1
dep/libevent/test/.deps/
dep/libevent/test/.libs/
dep/libevent/test/Makefile
dep/libevent/test/bench
dep/libevent/test/bench_cascade
dep/libevent/test/bench_http
dep/libevent/test/bench_httpclient
dep/libevent/test/regress
dep/libevent/test/rpcgen-attempted
dep/libevent/test/test-changelist
dep/libevent/test/test-eof
dep/libevent/test/test-init
dep/libevent/test/test-ratelim
dep/libevent/test/test-time
dep/libevent/test/test-weof

#protobuf
dep/protobuf/config.h
dep/protobuf/config.status
dep/protobuf/gtest/Makefile
dep/protobuf/gtest/build-aux/config.h
dep/protobuf/gtest/build-aux/stamp-h1
dep/protobuf/gtest/config.status
dep/protobuf/gtest/fused-src/gtest/.deps/
dep/protobuf/gtest/libtool
dep/protobuf/gtest/samples/.deps/
dep/protobuf/gtest/scripts/gtest-config
dep/protobuf/gtest/src/.deps/
dep/protobuf/gtest/test/.deps/
dep/protobuf/libtool
dep/protobuf/protobuf-lite.pc
dep/protobuf/protobuf.pc
dep/protobuf/src/.deps/
dep/protobuf/src/.libs/
dep/protobuf/src/Makefile
dep/protobuf/src/google/protobuf/compiler/cpp/cpp_test_bad_identifiers.pb.cc
dep/protobuf/src/google/protobuf/compiler/cpp/cpp_test_bad_identifiers.pb.h
dep/protobuf/src/google/protobuf/unittest.pb.cc
dep/protobuf/src/google/protobuf/unittest.pb.h
dep/protobuf/src/google/protobuf/unittest_custom_options.pb.cc
dep/protobuf/src/google/protobuf/unittest_custom_options.pb.h
dep/protobuf/src/google/protobuf/unittest_embed_optimize_for.pb.cc
dep/protobuf/src/google/protobuf/unittest_embed_optimize_for.pb.h
dep/protobuf/src/google/protobuf/unittest_empty.pb.cc
dep/protobuf/src/google/protobuf/unittest_empty.pb.h
dep/protobuf/src/google/protobuf/unittest_import.pb.cc
dep/protobuf/src/google/protobuf/unittest_import.pb.h
dep/protobuf/src/google/protobuf/unittest_import_lite.pb.cc
dep/protobuf/src/google/protobuf/unittest_import_lite.pb.h
dep/protobuf/src/google/protobuf/unittest_import_public.pb.cc
dep/protobuf/src/google/protobuf/unittest_import_public.pb.h
dep/protobuf/src/google/protobuf/unittest_import_public_lite.pb.cc
dep/protobuf/src/google/protobuf/unittest_import_public_lite.pb.h
dep/protobuf/src/google/protobuf/unittest_lite.pb.cc
dep/protobuf/src/google/protobuf/unittest_lite.pb.h
dep/protobuf/src/google/protobuf/unittest_lite_imports_nonlite.pb.cc
dep/protobuf/src/google/protobuf/unittest_lite_imports_nonlite.pb.h
dep/protobuf/src/google/protobuf/unittest_mset.pb.cc
dep/protobuf/src/google/protobuf/unittest_mset.pb.h
dep/protobuf/src/google/protobuf/unittest_no_generic_services.pb.cc
dep/protobuf/src/google/protobuf/unittest_no_generic_services.pb.h
dep/protobuf/src/google/protobuf/unittest_optimize_for.pb.cc
dep/protobuf/src/google/protobuf/unittest_optimize_for.pb.h
dep/protobuf/src/protoc
dep/protobuf/src/unittest_proto_middleman
dep/protobuf/stamp-h1
dep/protobuf/Makefile

#jansson
dep/jansson/Makefile
dep/jansson/config.h
dep/jansson/config.status
dep/jansson/doc/Makefile
dep/jansson/jansson.pc
dep/jansson/libtool
dep/jansson/src/.deps/
dep/jansson/src/.libs/
dep/jansson/src/Makefile
dep/jansson/stamp-h1
dep/jansson/test/Makefile
dep/jansson/test/suites/Makefile
dep/jansson/test/suites/api/.deps/
dep/jansson/test/suites/api/Makefile
