# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# for win32
*.sdf
*.opensdf
*.pdb
#bin
Debug/
core.*
src/test/cppunit/easy_main

*.log

#libevent
dep/libevent/.deps/
dep/libevent/.libs/
dep/libevent/Makefile
dep/libevent/autom4te.cache/
dep/libevent/config.h
dep/libevent/config.status
dep/libevent/include/Makefile
dep/libevent/include/event2/event-config.h
dep/libevent/libevent.pc
dep/libevent/libevent_openssl.pc
dep/libevent/libevent_pthreads.pc
dep/libevent/libtool
dep/libevent/sample/.libs/
dep/libevent/sample/Makefile
dep/libevent/sample/dns-example
dep/libevent/sample/event-test
dep/libevent/sample/hello-world
dep/libevent/sample/http-server
dep/libevent/sample/le-proxy
dep/libevent/sample/signal-test
dep/libevent/sample/time-test
dep/libevent/stamp-h1
dep/libevent/test/.deps/
dep/libevent/test/.libs/
dep/libevent/test/Makefile
dep/libevent/test/bench
dep/libevent/test/bench_cascade
dep/libevent/test/bench_http
dep/libevent/test/bench_httpclient
dep/libevent/test/regress
dep/libevent/test/rpcgen-attempted
dep/libevent/test/test-changelist
dep/libevent/test/test-eof
dep/libevent/test/test-init
dep/libevent/test/test-ratelim
dep/libevent/test/test-time
dep/libevent/test/test-weof

#protobuf
dep/protobuf/config.h
dep/protobuf/config.status
dep/protobuf/gtest/Makefile
dep/protobuf/gtest/build-aux/config.h
dep/protobuf/gtest/build-aux/stamp-h1
dep/protobuf/gtest/config.status
dep/protobuf/gtest/fused-src/gtest/.deps/
dep/protobuf/gtest/libtool
dep/protobuf/gtest/samples/.deps/
dep/protobuf/gtest/scripts/gtest-config
dep/protobuf/gtest/src/.deps/
dep/protobuf/gtest/test/.deps/
dep/protobuf/libtool
dep/protobuf/protobuf-lite.pc
dep/protobuf/protobuf.pc
dep/protobuf/src/.deps/
dep/protobuf/src/.libs/
dep/protobuf/src/Makefile
dep/protobuf/src/google/protobuf/compiler/cpp/cpp_test_bad_identifiers.pb.cc
dep/protobuf/src/google/protobuf/compiler/cpp/cpp_test_bad_identifiers.pb.h
dep/protobuf/src/google/protobuf/unittest.pb.cc
dep/protobuf/src/google/protobuf/unittest.pb.h
dep/protobuf/src/google/protobuf/unittest_custom_options.pb.cc
dep/protobuf/src/google/protobuf/unittest_custom_options.pb.h
dep/protobuf/src/google/protobuf/unittest_embed_optimize_for.pb.cc
dep/protobuf/src/google/protobuf/unittest_embed_optimize_for.pb.h
dep/protobuf/src/google/protobuf/unittest_empty.pb.cc
dep/protobuf/src/google/protobuf/unittest_empty.pb.h
dep/protobuf/src/google/protobuf/unittest_import.pb.cc
dep/protobuf/src/google/protobuf/unittest_import.pb.h
dep/protobuf/src/google/protobuf/unittest_import_lite.pb.cc
dep/protobuf/src/google/protobuf/unittest_import_lite.pb.h
dep/protobuf/src/google/protobuf/unittest_import_public.pb.cc
dep/protobuf/src/google/protobuf/unittest_import_public.pb.h
dep/protobuf/src/google/protobuf/unittest_import_public_lite.pb.cc
dep/protobuf/src/google/protobuf/unittest_import_public_lite.pb.h
dep/protobuf/src/google/protobuf/unittest_lite.pb.cc
dep/protobuf/src/google/protobuf/unittest_lite.pb.h
dep/protobuf/src/google/protobuf/unittest_lite_imports_nonlite.pb.cc
dep/protobuf/src/google/protobuf/unittest_lite_imports_nonlite.pb.h
dep/protobuf/src/google/protobuf/unittest_mset.pb.cc
dep/protobuf/src/google/protobuf/unittest_mset.pb.h
dep/protobuf/src/google/protobuf/unittest_no_generic_services.pb.cc
dep/protobuf/src/google/protobuf/unittest_no_generic_services.pb.h
dep/protobuf/src/google/protobuf/unittest_optimize_for.pb.cc
dep/protobuf/src/google/protobuf/unittest_optimize_for.pb.h
dep/protobuf/src/protoc
dep/protobuf/src/unittest_proto_middleman
dep/protobuf/stamp-h1
dep/protobuf/Makefile
src/test/protobuf/add_person
src/test/protobuf/list_people
src/test/protobuf/person.txt
src/test/protobuf/protobuf_test

#jansson
dep/jansson/Makefile
dep/jansson/config.h
dep/jansson/config.status
dep/jansson/doc/Makefile
dep/jansson/jansson.pc
dep/jansson/libtool
dep/jansson/src/.deps/
dep/jansson/src/.libs/
dep/jansson/src/Makefile
dep/jansson/stamp-h1
dep/jansson/test/Makefile
dep/jansson/test/suites/Makefile
dep/jansson/test/suites/api/.deps/
dep/jansson/test/suites/api/Makefile

#mongo-c-driver
dep/mongo-c-driver/.libs/
dep/mongo-c-driver/ChangeLog
dep/mongo-c-driver/Makefile
dep/mongo-c-driver/NEWS
dep/mongo-c-driver/README.rst
dep/mongo-c-driver/aggregation1
dep/mongo-c-driver/build/version
dep/mongo-c-driver/bulk1
dep/mongo-c-driver/bulk2
dep/mongo-c-driver/bulk3
dep/mongo-c-driver/config.status
dep/mongo-c-driver/doc/
dep/mongo-c-driver/example-client
dep/mongo-c-driver/example-gridfs
dep/mongo-c-driver/example-matcher
dep/mongo-c-driver/examples/.deps/
dep/mongo-c-driver/examples/.dirstamp
dep/mongo-c-driver/examples/aggregation/.deps/
dep/mongo-c-driver/examples/aggregation/.dirstamp
dep/mongo-c-driver/examples/bulk/.deps/
dep/mongo-c-driver/examples/bulk/.dirstamp
dep/mongo-c-driver/filter-bsondump
dep/mongo-c-driver/find-and-modify
dep/mongo-c-driver/libtool
dep/mongo-c-driver/mongoc-dump
dep/mongo-c-driver/mongoc-ping
dep/mongo-c-driver/mongoc-rpc-validate
dep/mongo-c-driver/mongoc-stat
dep/mongo-c-driver/mongoc-tail
dep/mongo-c-driver/src/libbson/.libs/
dep/mongo-c-driver/src/libbson/Makefile
dep/mongo-c-driver/src/libbson/bcon-col-view
dep/mongo-c-driver/src/libbson/bcon-speed
dep/mongo-c-driver/src/libbson/bson-metrics
dep/mongo-c-driver/src/libbson/bson-to-json
dep/mongo-c-driver/src/libbson/bson-validate
dep/mongo-c-driver/src/libbson/config.status
dep/mongo-c-driver/src/libbson/examples/.deps/
dep/mongo-c-driver/src/libbson/examples/.dirstamp
dep/mongo-c-driver/src/libbson/json-to-bson
dep/mongo-c-driver/src/libbson/libtool
dep/mongo-c-driver/src/libbson/src/bson/.deps/
dep/mongo-c-driver/src/libbson/src/bson/.dirstamp
dep/mongo-c-driver/src/libbson/src/bson/bson-config.h
dep/mongo-c-driver/src/libbson/src/libbson-1.0.pc
dep/mongo-c-driver/src/libbson/src/yajl/.deps/
dep/mongo-c-driver/src/libbson/src/yajl/.dirstamp
dep/mongo-c-driver/src/libbson/test-libbson
dep/mongo-c-driver/src/libbson/tests/.deps/
dep/mongo-c-driver/src/libbson/tests/.dirstamp
dep/mongo-c-driver/src/libmongoc-1.0.pc
dep/mongo-c-driver/src/libmongoc-priv.pc
dep/mongo-c-driver/src/libmongoc-ssl-1.0.pc
dep/mongo-c-driver/src/mongoc/.deps/
dep/mongo-c-driver/src/mongoc/.dirstamp
dep/mongo-c-driver/src/mongoc/mongoc-config.h
dep/mongo-c-driver/src/tools/.deps/
dep/mongo-c-driver/src/tools/.dirstamp
dep/mongo-c-driver/test-libmongoc
dep/mongo-c-driver/test-load
dep/mongo-c-driver/test-replica-set
dep/mongo-c-driver/test-replica-set-ssl
dep/mongo-c-driver/test-secondary
dep/mongo-c-driver/test-sharded-cluster
dep/mongo-c-driver/tests/.deps/
dep/mongo-c-driver/tests/.dirstamp
dep/mongo-c-driver/tests/Makefile.am
dep/mongo-c-driver/tests/TestSuite.h
dep/mongo-c-driver/tests/abicheck.sh
dep/mongo-c-driver/tests/binary/
dep/mongo-c-driver/tests/c_rehash
dep/mongo-c-driver/tests/certificates/
dep/mongo-c-driver/tests/ha-test.c
dep/mongo-c-driver/tests/ha-test.h
dep/mongo-c-driver/tests/make_ca.pl
dep/mongo-c-driver/tests/mock-server.c
dep/mongo-c-driver/tests/mock-server.h
dep/mongo-c-driver/tests/mongoc-tests.c
dep/mongo-c-driver/tests/mongoc-tests.h
dep/mongo-c-driver/tests/ssl-test.c
dep/mongo-c-driver/tests/ssl-test.h
dep/mongo-c-driver/tests/test-bulk.c
dep/mongo-c-driver/tests/test-libmongoc.c
dep/mongo-c-driver/tests/test-libmongoc.h
dep/mongo-c-driver/tests/test-load.c
dep/mongo-c-driver/tests/test-mongoc-array.c
dep/mongo-c-driver/tests/test-mongoc-buffer.c
dep/mongo-c-driver/tests/test-mongoc-client-pool.c
dep/mongo-c-driver/tests/test-mongoc-client.c
dep/mongo-c-driver/tests/test-mongoc-collection.c
dep/mongo-c-driver/tests/test-mongoc-cursor.c
dep/mongo-c-driver/tests/test-mongoc-database.c
dep/mongo-c-driver/tests/test-mongoc-gridfs-file-page.c
dep/mongo-c-driver/tests/test-mongoc-gridfs.c
dep/mongo-c-driver/tests/test-mongoc-queue.c
dep/mongo-c-driver/tests/test-mongoc-read-prefs.c
dep/mongo-c-driver/tests/test-mongoc-rpc.c
dep/mongo-c-driver/tests/test-mongoc-stream-tls.c
dep/mongo-c-driver/tests/test-mongoc-stream.c
dep/mongo-c-driver/tests/test-mongoc-uri.c
dep/mongo-c-driver/tests/test-mongoc-write-concern.c
dep/mongo-c-driver/tests/test-replica-set-ssl.c
dep/mongo-c-driver/tests/test-replica-set.c
dep/mongo-c-driver/tests/test-secondary.c
dep/mongo-c-driver/tests/test-sharded-cluster.c
dep/mongo-c-driver/tests/test-write-commands.c
dep/mongo-c-driver/tests/test-x509.c
dep/mongo-c-driver/tests/trust_dir.cnf

